html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(/bg-img.avif);
    background-size: cover;
}

.button{
    padding: 20px;
    margin: 0 2px;
    border: 2px solid gold;
    border-radius: 12px;
    cursor: pointer;
    width: 60px;
    color: goldenrod;
    background-color: black;
    font-weight: 600;
}

.row-s{
    display: block;
    position: relative;
    left: 25%;
}

.row{
    margin: 12px 0;
}
.row input{
    margin: 0 0;
    padding: 14px 20px;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 1rem;
    width: 226px;
    
}

.text-center{
    text-align: center;
    color: gold;
}

.bg-red{
    /* background-color: red; */
}

.mx-auto{
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.item-center{
    align-items: center;

}

.container{
border: 1px solid gold;
height: auto;
width: max-content;
padding: 20px;
backdrop-filter: blur(2px);    
}
